/**
 * 对antd的一些样式做覆盖
 */

html body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #333;
}

.ant-confirm-content {
  overflow: auto;
}
